/*
h1 - 48px
h2 - 36px
h3 - 28px
all other text - 21px

colors: 
   #588C94 
   #1D3C41
*/
body {
    background: ghostwhite;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    margin: 0;
}

header {
    background: slategray;
    text-align: center;
    padding: 35px 0;
}

main {
    text-align: center;
    width: 650px;
    margin: 75px auto;
    border: 5px solid fuchsia;
}

footer {
    background: #333;
    color: #fff;
    padding: 25px 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

.columns {
    display: flexbox;
}