/*

colors: 
   #588C94 
   #1D3C41
*/
body {
    background: ghostwhite;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 21px;
}

/* ======= 
Typography 
======= */

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

/* ======= 
Layout
======= */

header {
    background: #588C94;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.intro {
    width: 650px;
    margin: 75px auto;
    text-align: center;
    border: 5px solid fuchsia;
}

footer {
    background: #333;
    color: #fff;
    padding: 25px 0;
}

.columns {
    display: flexbox;
}